*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#root{
    background: lightgrey;
    width: 300px;
    height:420px;
    display: flex;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    box-shadow: 0px 2px 10px 2px lightgray;
}